
.firefly {
    position: absolute;
    background: #F8E71C;
    border-radius: 50%;
    filter: blur(1px);
    box-shadow:
        0 0 10px #F8E71C,
        0 0 20px #F8E71C;
    animation:
        fly 8s infinite ease-in-out,
        blink 3s infinite ease-in-out;
}

@keyframes fly {
    0% {
        transform: translate(0, 0) rotate(0deg);
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    100% {
        transform: translate(100px, -200px) rotate(360deg);
        opacity: 0;
    }
}

@keyframes blink {

    0%,
    100% {
        opacity: 0.2;
        box-shadow:
            0 0 5px #F8E71C;
    }

    50% {
        opacity: 1;
        box-shadow:
            0 0 20px #F8E71C,
            0 0 40px #F8E71C,
            0 0 60px rgba(248, 231, 28, 0.5);
    }
}